body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    background: #123;
    color: #ddd;
    margin: 0;
}
section {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 30px;
}
input[type="text"] {
    margin-bottom: 5px;
    width: 40px;
}
input[type="checkbox"] {
    vertical-align: top;
}
h3 {
    text-align: center;
}
td {
    cursor: pointer;
    white-space: nowrap;
}
tr.active td {
    background-color: rgba(30, 72, 48, 0.9);
}
td span {
    font-size: 12px;
    margin-left: 8px;
    color: green;
}
td span.n {
    color: red;
}
input[name="executeperc"] {
    width: 25px;
}
article {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 20px auto;
    position: relative;
    padding: 20px;
    min-height: 250px;
    box-sizing: border-box;

}
article > label {
    position: absolute;
    left: 12px;
    top: -9px;
    font-weight: bold;
    display: inline-block;
    background: #123;
    width: auto;
    padding: 0 10px;
}
.settings, .buffs, .char {
    width: 33%;
    min-height: 340px;
}
.talent {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 4px;
    user-select: none;
    border: 1px solid #444;
    border-radius: 5px;
}
.talent img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    filter: none;
    transition: all 0.2s ease-in;
}
.talent[data-count="0"] img {
    filter: grayscale(100%);
}
.talent[data-count="0"]:before {
    display: none;
}
.talent:after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: inset 0 0 10px #000000;
    border-radius: 4px;
}
.talent:before {
    content: attr(data-count);
    position: absolute;
    right: -4px;
    bottom: -4px;
    background: black;
    color: green;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align: center;
    z-index: 10;
    font-size: 12px;
    padding: 1px 3px;
    color: rgb(23, 253, 23);
}
.talent.maxed:before {
    color: rgb(231, 186, 0);
}
.talents {
    display: inline-flex;
    position: relative;
    width: 710px;
    justify-content: center;
}
.talents table {
    padding: 0 10px 0;
    border-left: 1px solid #ddd;
}
.talents table:first-of-type {
    border-left: 0;
}
.talents th {
    text-align: center;
    font-size: 12px;
    padding: 20px 0 5px;
}
.tooltip {
    width: 350px;
    background: url(../img/tooltip.png) center center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 100%;
    top: 100%;
    display: none;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px 16px;
    z-index: 20;
    border: 1px solid grey;
}
.tooltip p {
    margin: 0;
    white-space: normal;
}
.tooltip .description {
    margin: 0;
    white-space: normal;
    color:#FFCD45;
    margin-top: 6px;
    display: none;
}
.talent:hover .tooltip {
    display: block;
}
.buff:hover .tooltip {
    display: block;
}
.talent[data-count="0"] .description[data-index="0"] { display: block; }
.talent[data-count="1"] .description[data-index="1"] { display: block; }
.talent[data-count="2"] .description[data-index="2"] { display: block; }
.talent[data-count="3"] .description[data-index="3"] { display: block; }
.talent[data-count="4"] .description[data-index="4"] { display: block; }
.talent.maxed .description:last-of-type { display: block; }
.buff {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 3px;
    user-select: none;
    border: 1px solid rgb(82, 82, 82);
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    transition: border-color 0.2s ease-in;
}

.buff img {
    width: 100%;
    height: 100%;
    margin: 0;
    filter: grayscale(100%);
    transition: all 0.2s ease-in;
}
.buff.active {
    border-color: #FFCD45;
}
.buff.active img {
    filter: none;
}
.buff .tooltip .description {
    display: block;
}
.settings ul, .char ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.settings li, .char li {
    border-bottom: 1px solid rgba(221,221,221,0.4);
    padding: 7px 10px;
    overflow: hidden;
}
.settings li:first-child, .char li:first-child {
    padding-top: 0;
}
.settings li:last-child, .char li:last-child  {
    border: 0;
    padding-bottom: 0;
}
.settings input, .char input {
    background: none;
    border: none;
    color: inherit;
    outline: none;
    text-align: right;
    margin: 0;
    float: right;
}
.race, .spell {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 2px 1px;
    user-select: none;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    transition: border-color 0.2s ease-in;
    right: -10px;
}
.race img, .spell img {
    width: 100%;
    height: 100%;
    margin: 0;
    filter: grayscale(100%);
    transition: all 0.2s ease-in;
}
.race.active img, .spell.active img {
    filter: none;
}
.race:nth-child(4), .race:last-child,
.spell:nth-child(4), .spell:last-child {
    margin-right: 0;
}
.settings label + div {
    float: right;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.spell {
    border: 1px solid rgb(82, 82, 82);
}
.spell.active {
    border-color: #FFCD45;
}
.spell.hidden {
    display: none;
}
input[type="submit"] {
    width: 90%;
    border: 1px solid #ddd;
    background: none;
    height: 50px;
    color: #ddd;
    font-weight: bold;
    position: absolute;
    left: 5%;
    bottom: 5%;
    cursor: pointer;
    transition: all 0.2s ease-in;
    float: none;
    text-align: center;
}
input[type="submit"]:hover {
    background: #ddd;
    color: #123;
}
progress {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #eee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    z-index: 20;
    display: none;
}
nav {
    position: fixed;
    left: calc(50% - 620px);
    top: 30px;
}
nav ul {
    list-style: none;
    width: 140px;
    padding: 0 20px;
    box-sizing: border-box;
}
nav li {
    display: block;
    text-align: right;
    padding: 11px 10px 5px;
    font-style: italic;
    transition: all 0.2s ease-in;
    opacity: 0.5;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.5px;
}
nav li:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: #ddd;
    transition: all 0.2s ease-in;
}
nav li.active {
    opacity: 1;
}
nav li.active:after {
    width: 100%;
}
.tablesorter-default, .tablesorter-default td, 
.tablesorter-default th, .tablesorter-default thead td {
    background: transparent;
    color: #ddd;
}
.tablesorter-default td {
    border-color: rgba(204,204,204,0.3);
}
.tablesorter-default .header, .tablesorter-default .tablesorter-header {
    outline: none;
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
}
.tablesorter-default {
    font-size: 11px;
    line-height: 15px;
    font-family: inherit;
}
.tablesorter-default thead .headerSortUp, .tablesorter-default thead .tablesorter-headerAsc, .tablesorter-default thead .tablesorter-headerSortUp {
    border-color: #ddd;
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
.tablesorter-default thead .headerSortDown, .tablesorter-default thead .tablesorter-headerDesc, .tablesorter-default thead .tablesorter-headerSortDown {
    border-color: #ddd;
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
.tablesorter-default tbody>tr.even:hover>td, .tablesorter-default tbody>tr.hover>td, .tablesorter-default tbody>tr.odd:hover>td, .tablesorter-default tbody>tr:hover>td {
    background-color: rgba(30, 72, 48, 0.9);
    color: inherit;
}
.filter {
    display: inline-block;
    width: calc(100% - 715px);
    height: 407px;
    padding: 20px 30px;
}
.filter ul {
    padding: 0;
}
.filter .sources li {
    display: block;
    list-style: none;
    transition: all 0.2s ease-in;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
}
.filter .sources li:before {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    margin-right: 10px;
}
.filter .sources li:after {
    content: '';
    display: block;
    transform: rotate(45deg);
    height: 8px;
    width: 4px;
    border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd;
    position: absolute;
    left: 6px;
    top: 2px;
    opacity: 0;
    transition: all 0.2s ease-in;
}
.filter .sources li.active:after {
    opacity: 1;
}
.filter .phases {
    position: absolute;
    right: 10px;
    top: -5px;
}
.filter .phases li {
    display: block;
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 5px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}
.filter .phases li.active {
    background: #ddd;
    color: #123;
    font-weight: bold;
}
.hidden {
    display: none;
}