input[type="text"] {
    margin-bottom: 5px;
    width: 40px;
}
input[type="checkbox"] {
    vertical-align: top;
}
label {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}
h3 {
    text-align: center;
}
td {
    cursor: pointer;
    white-space: nowrap;
}
tr.active td {
    background-color: #d6e6d0;
}
td span {
    font-size: 12px;
    margin-left: 8px;
    color: green;
}
td span.n {
    color: red;
}
input[name="executeperc"] {
    width: 25px;
}