.btn {
    border: 1px solid #ddd;
    background: none;
    height: 40px;
    color: #ddd;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease-in, color 0.2s ease-in;
    float: none;
    text-align: center;
    font-size: 12px;
    width: 170px;
    margin-bottom: 6px;
    display: block;
    line-height: 40px;
    text-decoration: none;
    border-radius: 4px;
    position: relative;

    &:hover,
    &.active {
        background: #ddd;
        color: #123;
    }

    &.loading {
        font-size: 0;
        pointer-events: none;
        &:hover {
            background: none;
            color: #ddd;
        }
    }
}

.icon {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 3px;
    user-select: none;
    border: 1px solid rgb(82, 82, 82);
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    transition: border-color 0.2s ease-in;

    &.active {
        border-color: $icon-border;

        img {
            filter: none;
        }
    }

    img {
        width: 100%;
        height: 100%;
        margin: 0;
        filter: grayscale(100%);
        transition: all 0.2s ease-in;
    }
}

.tablesorter-default {
    background: transparent;
    color: #ddd;
    font-size: 11px;
    line-height: 15px;
    font-family: inherit;

    td,
    th {
        background: transparent;
        color: #ddd;
    }

    td {
        border-color: rgba(204, 204, 204, 0.3);
        position: relative;
        a {
            color: inherit;
            text-decoration: none;
            display: block;
            width: 750px;
            position: absolute;
            height: 23px;
            top: 0;
            line-height: 23px;
            z-index: 5;
        }
    }
    tr {
        width: 100%;
    }

    p {
        margin: 0;
    }

    input[type="checkbox"] {
        margin: 0;
        vertical-align: middle;
        cursor: pointer;
    }

    .header,
    .tablesorter-header {
        outline: none;
        background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    }

    thead {
        .headerSortUp,
        .tablesorter-headerAsc,
        .tablesorter-headerSortUp {
            border-color: #ddd;
            background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
        }
        .headerSortDown,
        .tablesorter-headerDesc,
        .tablesorter-headerSortDown {
            border-color: #ddd;
            background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
        }
    }

    tbody > tr.even:hover > td,
    tbody > tr.hover > td,
    tbody > tr.odd:hover > td,
    tbody > tr:hover > td {
        background-color: rgba(30, 72, 48, 0.5);
        color: inherit;
    }

    tbody > tr.active > td {
        background-color: rgba(30, 72, 48, 0.5);
        color: inherit;
    }

    .p {
        margin-left: 8px;
        color: green;
        &:before {
            content: "(+";
        }
        &:after {
            content: ")";
        }
    }

    .n {
        margin-left: 8px;
        color: red;
        &:before {
            content: "(";
        }
        &:after {
            content: ")";
        }
    }
}

.spinner {
    width: 70px;
    text-align: center;
    position: absolute;
    left: calc(50% - 35px);
    top: calc(50% - 11px);
    display: block;
}

.spinner > span {
    width: 18px;
    height: 18px;
    background-color: #CCC;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
