.hidden {
    display: none;
}
section.main {
    width: 80%;
    max-width: calc(100% - 320px);
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    left: 20%;

    @media (min-width: 0px) and (max-width: 1600px) {
        left: 320px;
    }

    nav {
        width: 100%;
        color: #ddd;
        text-align: center;
        margin: 10px 0 50px;
        font-weight: bold;
        background: #303950;
        width: 100%;
        margin: 0;
        padding: 10px 0 10px;
        border-bottom: 2px solid #333333;
        &.loading {
            li {
                pointer-events: none;
            }
        }
    }
    ul {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0;
        display: inline-block;
        vertical-align: top;
        
    }
    li {
        padding: 0;
        display: inline-block;
        vertical-align: top;
        font-size: 13px;
        cursor: pointer;
        transition: all 0.2s ease-in;
        opacity: 0.5;
        text-shadow: 1px 1px darkblue;
        &:hover, &.active {
            opacity: 1;
            color: white;
            &:after {
                opacity: 1;
            }
        }
        &.active .filter {
            opacity: 1;
            visibility: visible;
        }
        p {
            margin: 0;
            padding: 10px 14px;
        }
        .filter {
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s ease-in;
            position: absolute;
            left: 0;
            top: 32px;
            &:before {
                content: '';
                width: 100%;
                height: 1px;
                background: #545454;
                position: absolute;
                display: block;
                top: 4px;
                left: 0;
            }
            @media only screen and (max-width: 1600px) {
                opacity: 0;
                visibility: hidden;
                display: none;
            }
        }
        &.active[data-type="mainhand"],
        &.active[data-type="offhand"],
        &.active[data-type="twohand"] {
            margin-bottom: 30px;
            @media only screen and (max-width: 1600px) {
                margin-bottom: 0;
            }
        }
    }

    .table-container {
        padding: 20px 40px;
    }

    .table-container:empty + .btn {
        display: none;
    }

    .button-container {
        padding: 0px 40px 40px;
        text-align: right;
        .btn {
            display: inline-block;
            &:first-child {
                float: left;
            }
        }
    }

    select {
        display: none;
        position: absolute;
        bottom: -24px;
        left: 0;
        background: transparent;
        color: white;
        border: none;
        width: 80px;
        margin: 0px 12px;
        outline: none;
        cursor: pointer;
        option {
            background: #123;
            color: white;
        }
    }

    table.enchant {
        margin-top: 40px;
        tbody td:first-of-type:not(.hide),
        tbody td.hide + td {
            width: 40%;
            min-width: 40%;
        }
    }

    progress {
        width: 80%;
        max-width: calc(100% - 320px);
        height: 20px;
        position: fixed;
        bottom: 0;
        right: 0;
        appearance: none;
        -webkit-appearance: none;
        opacity: 0.5;
        display: none;
        &[value="0"], &[value="100"] {
            display: none;
        }
    }

    .hide {
        width: 20px;
        svg {
            width: 15px;
            height: 15px;
            fill: #ddd;
            vertical-align: middle;
        }
    }
}

