.sidebar {
    min-width: 320px;
    width: 380px;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #171717;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;

    .bg {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 80% auto;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        pointer-events: none;
        &[data-race="Human"] {
            background-image: url(../img/human.png);
        }
        &[data-race="Gnome"] {
            background-image: url(../img/gnome.png);
        }
        &[data-race="Dwarf"] {
            background-image: url(../img/dwarf.png);
        }
        &[data-race="Night Elf"] {
            background-image: url(../img/nightelf.png);
        }
        &[data-race="Orc"] {
            background-image: url(../img/orc.png);
        }
        &[data-race="Undead"] {
            background-image: url(../img/undead.png);
        }
        &[data-race="Tauren"] {
            background-image: url(../img/tauren.png);
        }
        &[data-race="Troll"] {
            background-image: url(../img/troll.png);
        }
    }

    .tabs {
        display: flex;
        justify-content: center;
        .btn {
            width: 50%;
            border-radius: 0;
            border-left: 0;
            border-right: 0;
        }
    }

    .character {
        padding: 20px 0;
        
        & > p {
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            margin: 4px 0;
            text-shadow: 1px 1px darkblue;
        }

        .hidden {
            display: none;
        }
    }

    ul {
        list-style: none;
        margin: 20px auto;
        padding: 0;
        width: 80%;
    }

    li {
        border-bottom: 1px solid rgba(221,221,221,0.4);
        padding: 7px 10px;
        overflow: hidden;
        font-size: 12px;

        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            border: 0;
        }

        span {
            float: right;
        }

        small {
            font-size: 10px;
            color: rgba(255, 255, 255, 0.5);
        }
    }

    figure {
        max-width: 150px;
        margin: 0 auto;
        display: none;

        img {
            height: auto;
            width: 100%;
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }

    #weights-div {
        position: relative;
        margin-bottom: 10px;
        display: none;
        left: 40px;

        & > div {
            position: relative;
            height: 27px;
        }

        .spinner {
            left: 0;
            width: 52px;
            top: calc(50% - 8px);
            > span {
                width: 14px;
                height: 14px;
            }
        }

        .loading {
            .stat-dps, .stat-error {
                display: none;
            }
        }

        .stat-name {
            position: absolute;
            right: 100%;
            bottom: 2px;
            margin-right: 4px;
            white-space: nowrap;

            font-size: 14px;
            font-weight: bold;
        }
        .stat-dps {
            font-size: 20px;
            font-weight: bold;
            color: $item-uncommon;
            &:after {
                content: " DPS";
                font-size: 12px;
            }
            &:empty:after {
                display: none;
            }
        }
        .stat-error {
            font-size: 12px;
            font-weight: bold;
            color: $item-uncommon;
            &:before {
                content: " \00b1";
            }
            &:empty:before {
                display: none;
            }
        }
    }

    #dps-box {
        text-align: center;
    }
    .dps {
        font-size: 26px;
        font-weight: bold;
        color: $item-uncommon;
        &:after {
            content: " DPS";
            font-size: 14px;
        }
        &:empty:after {
            display: none;
        }
    }
    #dpserr {
        font-size: 14px;
        font-weight: bold;
        color: $item-uncommon;
        &:before {
            content: " \00b1";
        }
        &:empty:before {
            display: none;
        }
    }

    #time {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        min-height: 19px;
        &:after {
            content: " s";
        }
        &:empty:after {
            display: none;
        }
    }

    #stats {
        text-align: center;
        font-size: 12px;
        margin-bottom: 14px;
        font-weight: bold;
        min-height: 17px;
    }

    .author {
        width: 100%;
        text-align: center;
        font-size: 10px;
        opacity: 0.5;
        font-style: italic;
        padding-bottom: 16px;
    }

    .manual {
        padding: 4px;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        a {
            color: white;
        }
    }

    #sets {
        text-align: right;
        a {
            color: #ddd !important;
            text-decoration: none;
        }
    }

    /***** MOBILE *****/

    .sidebar-mobile {
        width: 100%;
        height: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: end;
        align-items: center;
        border: 0;
        overflow: hidden;
        box-sizing: border-box;
        .btn {
            display: none;
            width: 140px;
            height: 34px;
            line-height: 34px;
            margin: 0 0 0 20px;
        }
        span {
            display: none;
            margin: 0 auto 0 20px;
            height: 34px;
            line-height: 34px;
        }
    }

    .menu-button-container {
        display: flex;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 10px;
        top: auto;
        height: 40px;
        right: 20px;
    }
    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .menu-button::before {
        content: '';
        margin-top: -8px;
    }

    .menu-button::after {
    content: '';
        margin-top: 8px;
    }

    .menu-button-container.open .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }

    .menu-button-container.open .menu-button {
        background: rgba(255, 255, 255, 0);
    }

    .menu-button-container.open .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }

    @include mobile {
        width: 100%;
        top: auto;
        bottom: 0;
        transition: all 0.2s ease-in;
        min-height: auto;
        z-index: 10;

        &.closed {
            //height: 60px;
            max-height: 60px;
            overflow: hidden;
            .bg {
                opacity: 0;
            }
            .sidebar-mobile {
                height: 60px;
                min-height: 60px;
                border-top: 2px solid #717171;
                .btn, span {
                    display: block;
                }
            }
        }
    }
}