.sidebar {
    min-width: 320px;
    min-height: 600px;
    width: 20%;
    height: 100vh;
    background: #171717;
    border-right: 2px solid #727272;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;

    .bg {
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 80% auto;
        position: absolute;
        left: 0;
        top: 380px;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        pointer-events: none;
        &[data-race="Human"] {
            background-image: url(../img/human.png);
        }
        &[data-race="Gnome"] {
            background-image: url(../img/gnome.png);
        }
        &[data-race="Dwarf"] {
            background-image: url(../img/dwarf.png);
        }
        &[data-race="Night Elf"] {
            background-image: url(../img/nightelf.png);
        }
        &[data-race="Orc"] {
            background-image: url(../img/orc.png);
        }
        &[data-race="Undead"] {
            background-image: url(../img/undead.png);
        }
        &[data-race="Tauren"] {
            background-image: url(../img/tauren.png);
        }
        &[data-race="Troll"] {
            background-image: url(../img/troll.png);
        }
    }

    .character {
        padding: 20px 0;
        
        & > p {
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            margin: 4px 0;
            text-shadow: 1px 1px darkblue;
        }
    }

    ul {
        list-style: none;
        margin: 20px auto;
        padding: 0;
        width: 80%;
    }

    li {
        border-bottom: 1px solid rgba(221,221,221,0.4);
        padding: 7px 10px;
        overflow: hidden;
        font-size: 12px;

        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            border: 0;
        }

        span {
            float: right;
        }

        small {
            font-size: 10px;
            color: rgba(255, 255, 255, 0.5);
        }
    }

    figure {
        max-width: 150px;
        margin: 0 auto;
        display: none;

        img {
            height: auto;
            width: 100%;
        }
    }

    .bottom {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
    }

    #dps {
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        color: $item-uncommon;
        &:after {
            content: " DPS";
            font-size: 14px;
        }
        &:empty:after {
            display: none;
        }
    }

    #time {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        min-height: 19px;
        &:after {
            content: " s";
        }
        &:empty:after {
            display: none;
        }
    }

    #stats {
        text-align: center;
        font-size: 12px;
        margin-bottom: 14px;
        font-weight: bold;
        min-height: 17px;
    }

    .author {
        position: absolute;
        left: 0;
        bottom: 20px;
        width: 100%;
        text-align: center;
        font-size: 10px;
        opacity: 0.5;
        font-style: italic;
    }

    #sets {
        text-align: right;
        a {
            color: #ddd !important;
            text-decoration: none;
        }
    }
}